
<div class="main-container">
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/<%=@movie.youtubelink %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br>
    </div>
    <div class="info-container">
        <%=@movie.title %><br><br>
        <%=@movie.director%><br><br>
        <%=@movie.actor%><br><br>
        <%=@movie.team%><br><br>
        <%=@movie.date%><br><br>
    </div>
</div>
<div class="detail-container">
    <%=@movie.content%><br><br>
    <a href='/lionpictures/delete/<%=@movie.id%>'>삭제</a>
    <a href='/lionpictures/edit/<%=@movie.id%>'>수정</a><br>
</div>

